.wrapper {
    background-color: lightgreen;
}

.box {
    width: 100%;
    max-width: 980px;
    margin-inline: auto;
    background-color: lightcoral;
}

.inner-box {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 100px;
}

.logo {
    background-color: lightcoral;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 20px;
    align-self: center;
}
.logo .logo-img {}

.menu {
    background-color: lightskyblue;
}
.menu .menu-item {
    padding: 16px 10px;
    display: inline-block;
}

.main-box {
    display: flex;
    column-gap: 20px;
}

.main {
    background-color: lightseagreen;
    flex-grow: 4;
}
.article {
    background-color: lightblue;
    padding: 20px;
}
.related {
    background-color: lightgrey;
    min-height: 200px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.item {
    background-color: red;
    width: 150px;
    height: 150px;
}
.aside {
    background-color: lightcyan;
    flex-grow: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


